@inherits AppComponentBase;

<section>
    <a href="@Urls.HomePage">
        <BitIcon IconName="@BitIconName.Home" Color="@(IsActive(Urls.HomePage) ? BitColor.Primary : BitColor.SecondaryForeground)" />
        <BitText Typography="BitTypography.Caption2" Color="@(IsActive(Urls.HomePage) ? BitColor.Primary : BitColor.SecondaryForeground)">
            @Localizer[nameof(AppStrings.Home)]
        </BitText>
    </a>



    <a href="@Urls.TermsPage">
        <BitIcon IconName="@BitIconName.EntityExtraction" Color="@(IsActive(Urls.TermsPage) ? BitColor.Primary : BitColor.SecondaryForeground)" />
        <BitText Typography="BitTypography.Caption2" Color="@(IsActive(Urls.TermsPage) ? BitColor.Primary : BitColor.SecondaryForeground)">
            @Localizer[nameof(AppStrings.Terms)]
        </BitText>
    </a>
</section>